<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #111d25;">
    <a class="navbar-brand" href="#">HomeBase</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="navbar-text mr-1">
                <span class="text-white"><i class="fas fa-user-circle"></i></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User Name</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid bg-dark">
    <div class="row pt-3 justify-content-md-center">
      <div class="col-sm-4">
        <div class="card text-white bg-primary">
          <div class="card-body">
              
            <div class="card-title">
                <div class="row align-items-start">
                    <div class="col pl-4 align-self-start m-auto">
                    <span class="text-white" style="font-size: 5rem;"><i class="fa fa-sun" aria-hidden="true"></i></span>
                    </div>
                    <div class="col align-self-center">
                        <h3 class="font-weight-bold">Current: 45°F</h3>
                        <p>32° / 58°</p>
                    </div>

                </div>

            </div> 

            <p class="card-text">All the weather stuff</p>
            <p class="card-text">All the weather stuff</p>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Alexa</h3>
            <p class="card-text">All the Alexa stuff</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-md-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Calendar</h3>
            <p class="card-text"><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=ggrantsmith13%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FNew_York" style="border-width:0" width="850" height="500" frameborder="0" scrolling="no"></iframe></p>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        </div>
      </div>
    </div>
</div>