
{{! firebase asked for the below snippet to be placed in the header of our HTML }}
 {{! <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script> }}

   {{! // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD5wmajh23hCvpX3U-ypE9Gozy4sOjvgA8",
    authDomain: "homebase-51972.firebaseapp.com",
    databaseURL: "https://homebase-51972.firebaseio.com",
    projectId: "homebase-51972",
    storageBucket: "homebase-51972.appspot.com",
    messagingSenderId: "233750046468"
  };
  
  firebase.initializeApp(config); }}